<html>
<head>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <title>LOGIN</title>
</head>
<body>

    <h1>Stage 2</h1>

<form action="/stage_2/" method="POST">
	<label for="username">username: </label>
    <input id="username" type="text" name="username" value="{{ username }}">
    <label for="password">password: </label>
    <input id="password" type="text" name="password" value="{{ password }}">
    <input type="submit" value="OK">
</form>
    <p>Invalid Username or Password!</p>
	<img src="/static/joker.jpg" alt="My image" height="600"/>


</body>
</html>
